*{
    box-sizing: border-box;
    font-size: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: #6DAEDB;
    
}

.header{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
    background-color: #084887;
    font: bolder;
}

.header > h1 {
    display: inline-block;
    font-weight: 900;
    text-shadow: 3px 1px 2px white;
    letter-spacing: 0.6rem;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}
.header ul {
    list-style: none;
}
.header ul li{
    display: inline-block;
    padding: 1rem;
    color: cornsilk;
    font: 1em sans-serif;
}
.header ul li a{
    text-decoration: none;
    color: cornsilk;
    font: 1em sans-serif;
}

.header ul li a:hover{
    border-bottom: 3px solid cornsilk;
}
.contents{
    max-width: 1500px;
    margin: 0 auto;
}

.commenter-name{
    margin-right: 1rem;
}
.form{
    
    text-align: center;
    margin-left: 30px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    background-color: rgb(158, 206, 240);
    padding: 10px;
    border-radius: 5px;
}

.form-input{
    text-align: left;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
    height: 2rem;
}
.footer{
    padding: 0px;
    background-color: #084887;
    /*position: fixed;*/
    width: 100%;
    bottom: 0%;
    

}

#canvas{
    display: none;
}

.gallery-image-block{
    box-sizing: border-box;
    display: inline-block;
    width: 400px;

    margin: 3px;
    padding: 3px;
    margin-top: 6px;
    animation-duration: 10s;
}

.gallery-image-block:hover{
    border: solid blueviolet;
    
}

.image-preview{
    width:  100%;
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    margin-bottom: 5px;

}

.image-preview > img{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery-image{
    width: 98%;
    margin: 3px;
}

.gallery-image-likes{
    display: inline-block;
    width: 25%;
    padding: 3px;
    box-sizing: border-box;
}

.webcam-container{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: minmax(auto, 500px) auto;

}
#video{
    width: 98%;
}
#preview{
    width: 98%;
    height: 75vh;
    overflow: auto;

}
#preview-image{
    display: inline-block;
    width: 100%;
}

.video-preview{
    position: relative;
}
#sticker0-preview{
    position: absolute;
    top: 300px;
}

#sticker1-preview{
    position: absolute;
    top: 300px;
}

#sticker2-preview{
    position: absolute;
    top: 300px;
}

input[name="sticker"]{
    visibility: hidden;
}
#delete-post{
    cursor: pointer;
}
.pager{
    background-color: #fff;
    display: block;
    
}
.paging-button{
    margin: 10px 10px;
}